<%= form_for @forum do |f| %>
  <% if @forum.errors.any? %>
    <h2><%= pluralize(@forum.errors.count, "error") %> prevented this post from saving:</h2>
    <ul>
  	  <% @forum.errors.full_messages.each do |msg| %>
  	    <li><%= msg %></li>
  	  <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :forum_category_id, "Category" %><br>
    <%= f.collection_select :forum_category_id, ForumCategory.all, :id, :name, { prompt: "Choose a Category" } %>
  </div>

  <div class="field">
    <%= f.label :content%><br>
    <%= f.text_area :content%>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "button button_highlight button_block" %>
  </div>
<% end %>