<div id="banner" class="discussions_banner">
  <div class="wrapper_skinny">
	  <h1>Get help and advice on exercise, nutrition and mobility</h1>
	</div>
</div>

<div id="forum">
	<div class="wrapper_wide cf">
		<div id="forum_posts">
		  <%- if request.fullpath == "/forums?forum_category=Introductions" %>
				<h2 class="category_title">Introductions</h2>
				<p class="category_description">Introduce yourself to the rest of the team.</p>
			<%- elsif request.fullpath == "/forums?forum_category=Lifestyle" %>
				<h2 class="category_title">Lifestyle</h2>
				<p class="category_description">Introduce yourself to the rest of the team.</p>
			<%- elsif request.fullpath == "/forums?forum_category=Exercise" %>
				<h2 class="category_title">Exercise</h2>
				<p class="category_description">Introduce yourself to the rest of the team.</p>
			<%- elsif request.fullpath == "/forums?forum_category=Nutrition" %>
				<h2 class="category_title">Nutrition</h2>
				<p class="category_description">Introduce yourself to the rest of the team.</p>
			<%- elsif request.fullpath == "/forums?forum_category=Mobility" %>
				<h2 class="category_title">Mobility</h2>
				<p class="category_description">Introduce yourself to the rest of the team.</p>
			<%- elsif request.fullpath == "/forums?forum_category=General" %>
				<h2 class="category_title">General</h2>
				<p class="category_description">Introduce yourself to the rest of the team.</p>
			<%- else %>
			  <h2 class="category_title">Everything</h2>
			  <p class="category_description all_category_description">All Posts.</p>
        <nav>
					<ul>
						<%- if request.fullpath == "/forums/active" || request.fullpath == "/forums/unanswered" || request.fullpath == "/forums/my_posts" %>
						  <li><%= link_to "Recent Posts", forums_path %></li>
						<%- else %>
						  <li><%= link_to "Recent Posts", forums_path, class: "active" %></li>
						<% end %>
						<li><%= link_to "Unanswered", unanswered_forums_path, class: "#{active(unanswered_forums_path)}" %></li>
						<li><%= link_to "Active", active_forums_path, class: "#{active(active_forums_path)}" %></li>
						<li><%= link_to "My Posts", my_posts_forums_path, class: "#{active(my_posts_forums_path)}" %></li>
					</ul>
				</nav>
			<% end %>

			<%- if @forums.size > 0 %>
	      <%- @forums.each do |forum| %>
	        <div class="forum_post cf">
	          <div class="user_image">
	            <%= image_tag forum.user.avatar.url(:thumb), alt: "Authors Avatar" %>
	          </div>
	          <div class="post_content">
	            <h2><%= link_to forum.title, forum %></h2>
	            <p class="post_meta"><span><%= forum.user.username %> </span><%= time_ago_in_words(forum.created_at) %> ago</p>
	            <%= link_to forum.forum_category.name, forums_path(forum_category: forum.forum_category.name), class: "post_category" %>
	          </div>
	          <div class="post_reply_count">
	            <p class="reply_count"><%= forum.forum_comments.count %><span><%= "Reply".pluralize(forum.forum_comments.count) %></span></p>
	          </div>
	        </div>
	      <% end %>

	      <%= will_paginate @forums, previous_label: "Prev", next_label: "Next", inner_window: 1, outer_window: 0 %>
      <%- else %>
	      <p class="no_content">There are no posts in this Category at the momment.</p>
	    <% end %>
		</div>
		<div id="forum_sidebar">
      <%= link_to "New Post", new_forum_path, class: "button button_highlight button_block" %>
			<a class="category_dropdown" href="#">Categories<span class="icon-chevron-down"></span></a>
			<nav>
				<ul>
				  <%- if request.fullpath == "/forums" || request.fullpath == "/forums/active" || request.fullpath == "/forums/unanswered" || request.fullpath == "/forums/my_posts" %>
	          <li><%= link_to "All", forums_path, class: "active" %></li>
	        <%- else %>
	          <li><%= link_to "All", forums_path %></li>
	        <% end %>
					<%- ForumCategory.all.each do |forum_category| %>
				    <li><%= link_to forum_category.name, forums_path(forum_category: forum_category.name), class: "#{active(forums_path(forum_category: forum_category.name))}" %></li>
				  <% end %>
				</ul>
			</nav>
		</div>

	</div>
</div>