<div id="forum_show">
	<div class="forum_wrapper">
    <%= link_to forums_path, class: "back_link" do %>
      <span class="icon-arrow-left2"></span>
      Back to Forum
    <% end %>
		<div class="forum_post cf">
      <div class="user_image">
        <%- if @forum.user.avatar.blank? %>
          <%= image_tag @forum.user.avatar.url(:thumb), alt: "Authors Avatar", class: "avatar no_avatar" %>
        <% else %>
          <%= image_tag @forum.user.avatar.url(:thumb), alt: "Authors Avatar", class: "avatar" %>
        <% end %>
    	</div>
    	<div class="post_content">
        <h2><%= @forum.title %></h2>
      	<p class="post_meta"><span><%= @forum.user.username %> </span><%= time_ago_in_words(@forum.created_at) %> ago</p>
      	<div class="post_text">
          <%= markdown @forum.content %>
      	</div>
        <%= link_to @forum.forum_category.name, forums_path(forum_category: @forum.forum_category.name), class: "post_category" %>
      	
        <%- if @forum.user == current_user || current_user.try(:admin?) %>
          <div class="authorised_links cf">
            <%- if @forum.user == current_user || current_user.try(:admin?) %>
              <%= link_to "Edit", edit_forum_path(@forum), class: "edit_link" %>
            <% end %>
            <%- if current_user.try(:admin?) %>
              <%= link_to "Delete", forum_path(@forum), method: :delete, data: { confirm: "Are you sure?" }, class: "delete_link" %>
            <% end %>
          </div>
        <% end %>
    	</div>
    </div>

    <div class="comments">
    	<h2 class="comment_count"><%= pluralize(@forum.forum_comments.count, "Reply") %></h2>
      <%= render @forum.forum_comments %>
    	<h2 class="reply">Reply</h2>
      <%= render "forum_comments/form" %>
    </div>
	</div>
</div>