<%= form_for @program do |f| %>
  <% if @program.errors.any? %>
    <h2><%= pluralize(@program.errors.count, "error") %> prevented this program from saving:</h2>
    <ul>
  	  <% @program.errors.full_messages.each do |msg| %>
  	    <li><%= msg %></li>
  	  <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description%><br>
    <%= f.text_area :description%>
  </div>

  <div class="actions">
    <%= f.submit class: "button button_highlight button_block" %>
  </div>
<% end %>