<div id="banner" class="programs_banner">
  <%- if current_user.try(:admin?) %>
	  <div class="wrapper_skinny program_admin_headline">
		  <h1>Programs to get you fitter, faster, stronger and leaner</h1>
		  <%= link_to "New Program", new_program_path, class: "button button_highlight" %>
		</div>
  <%- else %>
    <div class="wrapper_skinny">
      <h1>Programs to get you fitter, faster, stronger and leaner</h1>
    </div>
  <% end %>
</div>

<div id="programs">
	<div class="program_wrapper">
	  <%- if @programs.size > 0 %>
      <% @programs.each do |program| %>
        <div class="program">
          <div class="program_info cf">
            <h2><%= program.title %></h2>
	          <p class="program_description"><%= program.description %></p>
		        <%= link_to "View Program", program_path(program), class: "button button_highlight" %>
          </div>
	      </div>
      <% end %>
      <%= will_paginate @programs, previous_label: "Prev", next_label: "Next", inner_window: 1, outer_window: 0 %>
	  <%- else %>
      <p class="no_content">There are no programs at the moment.</p>
	  <% end %>
	</div>
</div>