<%= form_for @video do |f| %>
  <% if @video.errors.any? %>
    <h2><%= pluralize(@video.errors.count, "error") %> prevented this video from saving:</h2>
    <ul>
  	  <% @video.errors.full_messages.each do |msg| %>
  	    <li><%= msg %></li>
  	  <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description%><br>
    <%= f.text_field :description%>
  </div>

  <div class="field">
    <%= f.label :video_category_id, "Category" %><br>
    <%= f.collection_select :video_category_id, VideoCategory.all, :id, :name, { prompt: "Choose a Category" } %>
  </div>

  <div class="field">
    <%= f.label :image%><br>
    <%= f.file_field :image%>
  </div>

  <div class="field">
    <%= f.label :video_id, 'Video ID'%><br>
    <%= f.text_field :video_id%>
  </div>

  <div class="field">
    <%= f.label :length%><br>
    <%= f.text_field :length%>
  </div>

  <div class="actions">
    <%= f.submit class: "button button_highlight button_block" %>
  </div>
<% end %>