<div id="video_show">
  <div id="video_show_wrapper" class="cf">
  	<div class="wrapper_wide">
  		<div class="video">
  			<div class="video_show_inner_wrapper">
	  			<iframe src="<%= @video.video_id %>" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  			</div>
  		</div>
  		<div id="video_content">
  			<h1><%= @video.id %>: <%= @video.title %></h1>
  			<p id="description"><%= @video.description %></p>
        <%= link_to @video.video_category.name, videos_path(video_category: @video.video_category.name), id: "category" %>
  			<hr>
  			<%= link_to "Back to Videos", videos_path, class: "button button_highlight" %>
        <%- if current_user.try(:admin?) %>
          <div class="authorised_links cf">
            <%= link_to "Edit", edit_video_path(@video), class: "edit_link" %>
            <%= link_to "Delete", video_path(@video), method: :delete, data: { confirm: "Are you sure you want to delete this video?"}, class: "delete_link" %>
          </div>
        <% end %>
  		</div>
  	</div>
	</div>
 	
  <div class="comments">
    <h2 class="comment_count"><%= pluralize(@video.video_comments.count, "Comment") %></h2>
    <%= render @video.video_comments %>
    <h2 class="reply">Comment</h2>
    <%= render "video_comments/form" %>
  </div>
</div>

