<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
	  	<%= link_to "Teamcc", root_path, id: "logo" %>
	  	<nav>
	  		<ul>
	  			<li><%= link_to "Discussions", forums_path %></li>
	  			<li><%= link_to "Videos", videos_path %></li>
	  			<li><a href="#">Programs</a></li>
	  			<%- if user_signed_in? %>
	          <li><%= link_to("Sign Out", destroy_user_session_path, method: :delete) %></li>
	        <%- else %>
	          <li><%= link_to "Sign In", new_user_session_path %></li>
	        <% end %>
	  		</ul>
	  	</nav>
	  </div>
  </header>
  <div class="wrapper_skinny">
	  <h1>Get help and advice on exercise, nutrition and mobility</h1>
	  <%= link_to "Join the Team", new_user_registration_path, class: "button button_highlight" %>
	</div>
</div>