<%= div_for(forum_comment, class: "cf") do %>
	<div class="user_image">
    <%- if forum_comment.user.avatar.blank? %>
      <%= image_tag forum_comment.user.avatar.url(:thumb), alt: "Authors Avatar", class: "avatar no_avatar" %>
    <% else %>
      <%= image_tag forum_comment.user.avatar.url(:thumb), alt: "Authors Avatar", class: "avatar" %>
    <% end %>
	</div>
  <div class="comment_content">
  	<h2><%= forum_comment.user.username %></h2>
  	<p class="comment_meta"><%= time_ago_in_words(@forum.created_at) %> ago</p>
  	<div class="comment_text">
  	  <%= markdown forum_comment.forum_comment %>
  	</div>

    <%- if forum_comment.user == current_user || current_user.try(:admin?) %>
      <div class="authorised_links cf">
        <%- if forum_comment.user == current_user || current_user.try(:admin?) %>
          <%= link_to "Edit", edit_forum_forum_comment_path(forum_comment.forum, forum_comment), class: "edit_link" %>
        <% end %>
        <%- if current_user.try(:admin?) %>
          <%= link_to "Delete", [forum_comment.forum, forum_comment], method: :delete, data: { confirm: "Are you sure?" }, class: "delete_link" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>