<header id="main_header" class="cf">
  <div class="wrapper_wide">
    <%= link_to "Teamcc", root_path, id: "logo" %>
  	<nav>
  		<ul>
        <%- if request.fullpath == "/forums" || request.fullpath == "/forums/active" || request.fullpath == "/forums/unanswered" || request.fullpath == "/forums/my_posts" %>
          <li><%= link_to "Discussions", forums_path, class: "active" %></li>
        <%- else %>
          <li><%= link_to "Discussions", forums_path, class: "#{active(forums_path)}" %></li>
        <% end %>
  			<li><%= link_to "Videos", videos_path, class: "#{active(videos_path)}" %></li>
  			<li><a href="#">Programs</a></li>
        <%- if user_signed_in? %>
          <li><%= link_to("Sign Out", destroy_user_session_path, method: :delete) %></li>
        <%- else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
  		</ul>
  	</nav>
  </div>
</header>